<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Система за дистанционни точки на отчитане</title>
</head>
<body>
<form class="form-horizontal" action="" method="post" id="deleteUserForm">
							<fieldset>


				<section id="deleteUser">
  	<img src="assests\images\stock\ерп-север-лого.jpg" class="centerImage" alt="лого">
    <div class="container">
        <div class="row">
    	    <div class="col-xs-12 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">

                <h1>Изтриване на потребител</h1>

                    <div class="form-group">
                        <label for="username" class="sr-only">КИД</label>
                        <input type="text" id="username" name="username" class="form-control" placeholder="КИД" disabled="disabled" readonly="readonly">
                    </div>
		<div class="form-group">
                        <label for="email" class="sr-only">Email</label>
                        <input type="text" id="email" name="email" class="form-control" placeholder="Email" disabled="disabled" readonly="readonly">
                    </div>
		<div class="form-group">
                        <label for="first_name" class="sr-only">Име</label>
                        <input type="text" id="first_name" name="first_name" class="form-control" placeholder="Име" disabled="disabled" readonly="readonly">
                    </div>
		<div class="form-group">
                        <label for="last_name" class="sr-only">Фамилия</label>
                        <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Фамилия" disabled="disabled" readonly="readonly">
                    </div>
		<div class="form-group">
                        <label for="department" class="sr-only">Отдел</label>
                        <input type="text" id="department" name="department" class="form-control" placeholder="Отдел" disabled="disabled" readonly="readonly">
                    </div>

		<div class="form-group">
                        <label for="picture" class="sr-only">Снимка</label>
                        <input type="text" id="picture" name="picture" class="form-control" placeholder="Снимка" disabled="disabled" readonly="readonly">
                    </div>


                    <input type="submit" id="btn-register" class="btn btn-custom btn-lg btn-block" value="Изтрий">
                <hr/>
    		</div> <!-- /.col-xs-12 -->
    	</div> <!-- /.row -->
    </div> <!-- /.container -->
</section>

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <p>Дирекция <strong>УЕДиСТИ</strong></p>
                <p>Отдел <strong>ДОСО</strong></p>
                <p>Създаден от <strong><a href="https://www.facebook.com/taner.mutalib" target="_blank">Танер Исмаил</a></strong></p>
            </div>
        </div>
    </div>
</footer>





							</fieldset>
						</form>
</body>
</html>