{% extends 'base/base_auth.html' %}
{% load placeholders %}
{% load add_class %}
{% load static %}
{% block page_content %}
    <div class="col py-3">
        <form action="{% url 'edit user' pk=object.pk %}" method="post" class="form-horizontal" id="changeUsernameForm"
              enctype="multipart/form-data">
            <fieldset>
                <img src="{% static 'images/erp_sever_trans.png' %}" class="centerImage" alt="лого">
                <section class="vh-50">
                    <div class="container py-5 h-100">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col-12 col-md-8 col-lg-7 col-xl-5">
                                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                                    <div class="card-body p-5 text-center">
                                        <legend>Edit profile data</legend>
                                        <div class="changeUsernameMessages"></div>
                                        {{ form.first_name|form_class|placeholder:"First name: " }}
                                        {{ form.last_name|form_class|placeholder:"Last name: " }}
                                        {{ form.email|form_class|placeholder:"Email: " }}
                                        {{ form.department|form_class|placeholder:"Department: " }}
                                        {{ form.picture|form_class|placeholder:"Picture: " }}
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-12">
                                                <button type="submit" class="btn btn-success"
                                                        data-loading-text="Loading..." id="changeUsernameBtn"><i
                                                        class="glyphicon glyphicon-ok-sign"></i> Save changes
                                                </button>
                                                {% csrf_token %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </fieldset>
        </form>
    </div>
{% endblock %}