{% extends 'base/base_no_auth.html' %}
{% load static %}
{% block page_content %}
<form class="form-horizontal" action="" method="post" id="registerForm">
							<fieldset>
  <section id="register">
  	<img src="{% static 'images/ерп-север-лого.jpg' %}" class="centerImage" alt="лого">
    <div class="container">
        <div class="row">
    	    <div class="col-xs-12 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">

                <h1>Регистрация</h1>

                    <div class="form-group">
                        <label for="username" class="sr-only">КИД</label>
                        <input type="text" id="username" name="username" class="form-control" placeholder="КИД">
                    </div>
		<div class="form-group">
                        <label for="email" class="sr-only">Email</label>
                        <input type="text" id="email" name="email" class="form-control" placeholder="Email">
                    </div>
		<div class="form-group">
                        <label for="first_name" class="sr-only">Име</label>
                        <input type="text" id="first_name" name="first_name" class="form-control" placeholder="Име">
                    </div>
		<div class="form-group">
                        <label for="last_name" class="sr-only">Фамилия</label>
                        <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Фамилия">
                    </div>
		<div class="form-group">
                        <label for="department" class="sr-only">Отдел</label>
                        <input type="text" id="department" name="department" class="form-control" placeholder="Отдел">
                    </div>
                    <div class="form-group">
                        <label for="password" class="sr-only">Парола</label>
                        <input type="password"  id="password" name="password" class="form-control" placeholder="Парола">
                    </div>
		<div class="form-group">
                        <label for="repassword" class="sr-only">Повтори парола</label>
                        <input type="password"  id="repassword" name="repassword" class="form-control" placeholder="Парола">
                    </div>

                    <input type="submit" id="btn-register" class="btn btn-custom btn-lg btn-block" value="Влез">
                <div class="ben">
                <a href="">Вече имаш създаден акаунт?</a>
            </div>
                <hr/>
    		</div> <!-- /.col-xs-12 -->
    	</div> <!-- /.row -->
    </div> <!-- /.container -->
</section>
</fieldset>
</form>
{% endblock %}