<div class="modal fade" id="createNewMeterPointModal" tabindex="-1" role="dialog" data-mdb-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
        <form class="form-horizontal" id="createNewModemForm" action="{% url 'list meter points' %}" method="POST" enctype="multipart/form-data">
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Meter point</h1>
      </div>

        <div class="modal-body">

            {{ form }}

        </div>
        <div class="modal-footer">

         <button type="submit" class="btn btn-success" data-loading-text="Loading..."> Save changes/button>
            {% csrf_token %}
      </div>

            </form>
        </div>

</div>
</div>