{% extends 'base/base_auth.html' %}

{% block page_content %}

    <div class="col py-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1> Details for {{ meter_point_details.mp_name }}</h1>
                    <div class="card card-margin">
                        <div class="card-header no-border">
                            <h5 class="card-title">Created by: {{ meter_point_details.user_id }}</h5>
                        </div>
                        <div class="card-body pt-0">
                            <div class="widget-49">
                                <div class="widget-49-title-wrapper">
                                    <div class="widget-49-date-primary">
                                        <span class="widget-49-date-day">ID</span>
                                        <span class="widget-49-date-month">{{ meter_point_details.id }}</span>
                                    </div>
                                    <div class="widget-49-meeting-info">
                                        <span class="widget-49-pro-title">Meter point name: {{ meter_point_details.mp_name }}</span>
                                        <span class="widget-49-meeting-time">Date: {{ meter_point_details.created_date }}</span>
                                    </div>
                                </div>
                                <ol class="widget-49-meeting-points">
                                    <li class="widget-49-meeting-item">
                                        <span>Meter number: {{ meter_point_details.meter_device.meter_device_number }}</span>
                                    </li>
                                    <li class="widget-49-meeting-item">
                                        <span>Constant: {{ meter_point_details.constant }}</span></li>
                                    <li class="widget-49-meeting-item">
                                        <span>Voltage: {{ meter_point_details.voltage }}</span></li>
                                    <li class="widget-49-meeting-item">
                                        <span>Regional center: {{ meter_point_details.regional_center }}</span></li>
                                    {% if meter_point_details.comment %}
                                        <li class="widget-49-meeting-item">
                                            <span>Comment: {{ meter_point_details.comment }}</span></li>
                                    {% else %}
                                        <li class="widget-49-meeting-item"><span>Comment: No data</span></li>
                                    {% endif %}
                                    <li class="widget-49-meeting-item">
                                        <span>Operation: {{ meter_point_details.operation }}</span></li>
                                    <li class="widget-49-meeting-item">
                                        <span>Modem number: {{ meter_point_details.modem.modem_number }}</span></li>
                                    <li class="widget-49-meeting-item">
                                        <span>Sim number: {{ meter_point_details.modem.sim.sim_number }}</span></li>
                                    <li class="widget-49-meeting-item">
                                        <span>IP address: {{ meter_point_details.modem.sim.ip_address }}</span></li>
                                </ol>
                                <div class="widget-49-meeting-action">
                                    <a href="javascript:history.back()" class="delete btn btn-danger">Go Back</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}