{% extends 'base/base_auth.html' %}
{% block page_content %}
{#<div class="row">#}
<div class="col py-3">
{% include 'common/messages.html' %}
		<div class="panel panel-default">
			<div class="panel-heading">
                <div class="page-heading"> <h1><i class="bi bi-list"></i>Meter points list</h1></div>
			</div> <!-- /panel-heading -->
			<div class="panel-body">

				<div class="remove-messages"></div>
            <div class="div-action pull pull-right" style="padding-bottom:20px;">
				</div>
				<br>

<table class="table" id="manageTITable">
					<thead>
						<tr>
						    <th>ID</th>
							<th>Name</th>
							<th>Meter device number</th>
                            <th>Voltage</th>
                            <th>Modem number</th>
                            <th>IP address</th>
							<th>Regional center</th>
                            <th>Updated</th>
							<th style="margin: 0 auto;">Option</th>
						</tr>
					</thead>
                        {% for meter_point in meter_point_list %}
                <tr>
                <td>{{ meter_point.id }}</td>
                <td>{{ meter_point.mp_name }}</td>
                    <td>{{ meter_point.meter_device.meter_device_number }}</td>
                {% if meter_point.voltage == "High" %}
                    <td><div class="high">{{ meter_point.voltage }}</div></td>
                    {% elif meter_point.voltage == "Medium"%}
                    <td><div class="medium">{{ meter_point.voltage }}</div></td>
                    {% else %}
                    <td><div class="low">{{ meter_point.voltage }}</div></td>
                {% endif %}
                    <td>{{ meter_point.modem.modem_number }}</td>
                <td>{{ meter_point.modem.sim.ip_address }}</td>
                <td>{{ meter_point.regional_center}}</td>
                    <td>Updated by: {{ meter_point.user_id }}, Date: {{ meter_point.created_date }}</td>
                            <td>
                                {% if is_owner == meter_point.user_id or is_superuser%}

                                <button type="button" class="btn btn-warning" title="Details"><a href = {% url 'details meter points' pk=meter_point.id %}><i class="bi bi-eye"></i></a></button>
                                    <button type="button" class="btn btn-primary" title="Edit"><a href = {% url 'edit meter points' pk=meter_point.id %}><i class="bi bi-pencil"></i></a></button>
                    <button type="button" class="btn btn-danger" title="Delete"><a href = {% url 'delete meter points' pk=meter_point.id %}><i class="bi bi-trash"></i></a></button>
                                    {% else %}
                                    <button type="button" class="btn btn-warning"><a href = {% url 'details meter points' pk=meter_point.id %}><i class="bi bi-eye"></i></a></button>
                                {% endif %}
                </td>
                </tr>
            {% endfor %}

				</table>
				<!-- /table -->

			</div> <!-- /panel-body -->
		</div> <!-- /panel -->
{% if is_perm %}
						   <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createNewMeterPointModal" title="Add"><i class="bi bi-plus-lg"></i>
  Add meter point
</button>
{% endif %}
	</div> <!-- /col-md-12 -->
    {% include 'meter_points/meter-point-add-page.html' %}


{% endblock %}
