{% extends 'base/base_auth.html' %}
{% block page_content %}
{#<div class="row">#}
<div class="col py-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="page-heading"> <i class="glyphicon glyphicon-edit"></i> Списък точки на измерване</div>
			</div> <!-- /panel-heading -->
			<div class="panel-body">

				<div class="remove-messages"></div>

<table class="table" id="manageTITable">
					<thead>
						<tr>
						    <th>ID </th>
							<th>Име</th>
							<th>Номер електромер</th>
                            <th>Константа</th>
                            <th> Напрежение</th>
                            <th>Номер модем</th>
							<th>Рег.център</th>
                            <th>Updated</th>
							<th style="margin: 0 auto;">Опции</th>
						</tr>
					</thead>
                        {% for meter_point in meter_point_list %}
                <tr>
                <td>{{ meter_point.id }}</td>
                <td>{{ meter_point.mp_name }}</td>
                    <td>{{ meter_point.meter_device.meter_device_number }}</td>
                    <td>{{ meter_point.constant }}</td>
                <td>{{ meter_point.voltage }}</td>
                    <td>{{ meter_point.modem.modem_number }}</td>
                <td>{{ meter_point.regional_center}}</td>
                    <td>Updated by: {{ meter_point.user_id }}, Date: {{ meter_point.created_date }}</td>
                            <td>
                    <button type="button" class="btn btn-primary"><a href = {% url 'edit meter points' pk=meter_point.id %}>test</a></button>
                    <button type="button" class="btn btn-warning"><a href = {% url 'delete meter points' pk=meter_point.id %}>test</a></button>
                </td>
                </tr>
            {% endfor %}

				</table>
				<!-- /table -->

			</div> <!-- /panel-body -->
		</div> <!-- /panel -->
						   <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createNewMeterPointModal">
  Launch demo modal
</button>
	</div> <!-- /col-md-12 -->
    {% include 'meter_points/meter-point-add-page.html' %}
{% endblock %}
