<div class="row">
	<div class="col-md-12">

		<ol class="breadcrumb">
		  <li><a href="">Начална страница</a></li>
		  <li class="active">Информация за електромери</li>
		</ol>

		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="page-heading"> <i class="glyphicon glyphicon-edit"></i>Списък с електромери</div>
			</div> <!-- /panel-heading -->
			<div class="panel-body">

				<div class="remove-messages"></div>

				<div class="div-action pull pull-right" style="padding-bottom:20px;">
				</div>
				<br>
<table class="table" id="manageMeterDeviceTable">
					<thead>
						<tr>
							<th>ID</th>
							<th>Тип</th>
							<th>Номер на електромер</th>
							<th>Точка на измерване</th>
							<th>Дата</th>
							<th style="margin: 0 auto;">Опции</th>
						</tr>
					</thead>
				</table>
				<!-- /table -->


			</div> <!-- /panel-body -->
		</div> <!-- /panel -->
	</div> <!-- /col-md-12 -->
</div> <!-- /row -->




