{% extends 'base/base_auth.html' %}
{% block page_content %}
{#    <div class="container-fluid">#}
{#<div class="row">#}
	<div class="col py-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="page-heading"> <i class="glyphicon glyphicon-edit"></i>Списък с електромери</div>
			</div> <!-- /panel-heading -->
			<div class="panel-body">
				<div class="remove-messages"></div>

				<div class="div-action pull pull-right" style="padding-bottom:20px;">
				</div>
				<br>
<table class="table" id="manageMeterDeviceTable">
					<thead>
						<tr>
							<th>Номер на електромер</th>
							<th>Тип</th>
							<th>Точка на измерване</th>
							<th style="margin: 0 auto;">Опции</th>
						</tr>
					</thead>
                         {% for meter_device in meter_device_list %}
                <tr>
                <td>{{ meter_device.meter_device_number}}</td>
                <td>{{ meter_device.meter_device_type }}</td>
                    {% if meter_device.meter_point.pk %}
                <td>{{ meter_device.meter_point.pk }}</td>
                {% else %}
                <td>Няма данни</td>
                {% endif %}
                             <td>
                    <button type="button" class="btn btn-primary"><a href = {% url 'edit meter device' pk=meter_device.id %}>test</a></button>
                    <button type="button" class="btn btn-warning"><a href = {% url 'delete meter device' pk=meter_device.id %}>test</a></button>
                </td>
                </tr>
{% endfor %}
				</table>
				<!-- /table -->


			</div> <!-- /panel-body -->
		</div> <!-- /panel -->
				   <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createNewMeterDeviceModal">
  Launch demo modal
</button>
	</div> <!-- /col-md-12 -->
{% include 'meter_devices/meter-device-add-page.html' %}
{% endblock %}



