body
{
  table-layout: fixed;

}

.div-hide {
    display: none;
}

.kv-file-zoom {
    display: none;
}

div.kv-avatar div.file-input div.file-preview {
    width: 200px;
}

.btn-custom {
    color: #fff;
  background-color: #343C7A;
}
.btn-custom:hover,
.btn-custom:focus {
    border-color: #343C7A;
}


.div-hide {
    display: none;
}

.kv-file-zoom {
    display: none;
}

div.kv-avatar div.file-input div.file-preview {
    width: 200px;
}

.ben{
    text-align: center;
}

#bn
{

    background-color:#5cb85c;
}
