<div class="modal fade" id="deleteSIMModel" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

    	<form class="form-horizontal" id="deleteSIMForm" action="" method="POST">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title"><i class="fa fa-edit"></i> Изтриване на SIM</h4>
	      </div>
	      <div class="modal-body">

	      	<div id="edit-brand-messages"></div>




	      	<div class="modal-loading div-hide" style="width:50px; margin:auto;padding-top:50px; padding-bottom:50px;">
						<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
						<span class="sr-only">Зареждане...</span>
					</div>

		      <div class="edit-brand-result">

			<div class="form-group">
		        	<label for="SIM_id" class="col-sm-3 control-label">ИД: </label>
		        	<label class="col-sm-1 control-label">: </label>
					    <div class="col-sm-8">
		 <input type="text" class="form-control" id="SIM_id" placeholder="ИД" name="TI_id" autocomplete="off" readonly="readonly">
					    </div>

		      	<div class="form-group">
		        	<label for="deleteSIM" class="col-sm-3 control-label">СИМ номер: </label>
		        	<label class="col-sm-1 control-label">: </label>
					    <div class="col-sm-8">
					      <input type="text" class="form-control" id="deleteSIM" placeholder="СИМ номер" name="deleteSIM" autocomplete="off" readonly="readonly">
					    </div>
		        </div> <!-- /form-group-->

		        <div class="form-group">
		        	<label for="deleteGSM" class="col-sm-3 control-label">GSM номер: </label>
		        	<label class="col-sm-1 control-label">: </label>
					    <div class="col-sm-8">
					      <input type="text" class="form-control" id="deleteGSM" placeholder="GSM номер" name="deleteGSM" autocomplete="off" readonly="readonly">
					    </div>
		        </div> <!-- /form-group-->
		        <div class="form-group">
		        	<label for="deleteOperator" class="col-sm-3 control-label">Оператор: </label>
		        	<label class="col-sm-1 control-label">: </label>
					    <div class="col-sm-8">
					      <input type="text" class="form-control" id="deleteOperator" placeholder="Оператор" name="deleteOperator" autocomplete="off" readonly="readonly">
					    </div>
		        </div> <!-- /form-group-->
		        <div class="form-group">
		        	<label for="deleteIP" class="col-sm-3 control-label">IP: </label>
		        	<label class="col-sm-1 control-label">: </label>
					    <div class="col-sm-8">
					      <input type="text" class="form-control" id="deleteIP" placeholder="IP" name="deleteIP" autocomplete="off" readonly="readonly">
					    </div>
		        </div> <!-- /form-group-->



		</div>
		      <!-- /edit brand result -->

	      </div> <!-- /modal-body -->

</div>
        </form>
</div>


	      <div class="modal-footer deleteSIMFooter">
	        <button type="button" class="btn btn-default" data-dismiss="modal"> <i class="glyphicon glyphicon-remove-sign"></i> Затвори</button>


	        <button type="submit" class="btn btn-success" id="deleteSIMBtn" data-loading-text="Loading..."> <i class="glyphicon glyphicon-ok-sign"></i> Запамети промените</button>
	      </div>


	      <!-- /modal-footer -->
	     <!-- /.form -->
    </div>
    <!-- /modal-content -->
  </div>
  <!-- /modal-dailog -->

