{#{% block page_content %}#}
<div class="modal fade" id="createNewSIMModal" tabindex="-1" role="dialog" data-mdb-backdrop="static">
  <div class="modal-dialog">
      {% if form.errors %}

{% endif %}
    <div class="modal-content">
        <form class="form-horizontal" id="createNewSIMForm" action="{% url 'list SIM' %}" method="POST" enctype="multipart/form-data">
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add SIM card</h1>
      </div>

        <div class="modal-body">


            {{ form }}


        </div>
        <div class="modal-footer">

         <button type="submit" class="btn btn-success" data-loading-text="Loading..."> Запамети промените</button>
            {% csrf_token %}
      </div>

            </form>
        </div>

</div>
</div>


{# {% endblock %}#}