{% extends 'base/base_auth.html' %}
{% block page_content %}
    <div class="col py-3">
        <!-- include error and succes message -->
        {% include 'common/messages.html' %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="page-heading"><h1><i class="bi bi-list"></i>SIM list</h1></div>
            </div>
            <div class="panel-body">
                <div class="div-action pull pull-right" style="padding-bottom:20px;">
                </div>
                <br>
                <div class="remove-messages"></div>
                <table class="table" id="manageSIMTable">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>SIM</th>
                        <th>GSM number</th>
                        <th>IP address</th>
                        <th>Operator</th>
                        <th>Updated</th>
                        <th>Option</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sim in sim_list %}
                        <tr>
                            <td>{{ sim.id }}</td>
                            <td>{{ sim.sim_number }}</td>
                            <td>{{ sim.gsm_number }}</td>
                            <td>{{ sim.ip_address }}</td>
                            <td>{{ sim.operator }}</td>
                            <td>Updated by: {{ sim.user_id }}, Date: {{ sim.created_date }}</td>
                            <td>
                                <!-- check if user is owner of record or is superuser /if have show edit and delete button/ -->
                                {% if is_perm %}
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#editNewSIMModal" title="Edit"><a
                                            href= {% url 'edit SIM' pk=sim.id %}><i class="bi bi-pencil"></i></a>
                                    </button>
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                            data-bs-target="#deleteNewSIMModal" title="Delete"><a
                                            href= {% url 'delete SIM' pk=sim.id %}><i class="bi bi-trash"></i></a>
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- check if have permissions -->
        {% if is_perm %}
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createNewSIMModal"
                    title="Add"><i class="bi bi-plus-lg"></i>
                Add SIM
            </button>
        {% endif %}
    </div>
    {% include 'SIM/SIM-add-page.html' %}
{% endblock %}