{% extends 'base/base_auth.html' %}
{% block page_content %}

    <canvas id="myChart" style="width:50%;max-width:1000px"></canvas>

<script>
const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'line', //This is a line chart
    data: {
    labels: [{% for i in label %} '{{ i }}', {% endfor %}], //x-axes data
    datasets: [{
        label:"Count meter points by created date",
    data: {{ data }}, //y-axes data
    borderColor: 'black',
    fill: false,
    }]
    },
   });


</script>

{% endblock %}