{% extends 'base/base_auth.html' %}
{% block page_content %}

    <canvas id="myChart" style="width:50%;max-width:1000px"></canvas>

<script>
const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: [{% for i in label %} '{{ i }}', {% endfor %}],
      datasets: [{
        label: 'Count tasks by operation',
        data: {{ data }},
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

{% endblock %}