{% extends 'base/base_auth.html' %}
{% block page_content %}

    <canvas id="myChart" style="width:50%;max-width:1000px"></canvas>

    <script>
        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
            plugins: [{
                beforeInit: function (chart) {
                    chart.legend.afterFit = function () {
                        this.height = this.height + 50;
                    };
                }
            }],
            type: 'line',
            data: {
                labels: [{% for i in label %} '{{ i }}', {% endfor %}],
                datasets: [{
                    label: "Count meter points by created date",
                    data: {{ data }}, //y-axes data
                    borderColor: 'black',
                    fill: false,
                    backgroundColor: [
                        "#b91d47",
                        "#00aba9",
                        "#2b5797",
                        "#e8c3b9",
                        "#1e7145"
                    ],
                }]
            },
            options: {
                responsive: true,
                legend: {
                    labels: {
                        fontSize: 20,
                    }
                },
            }
        });


    </script>

{% endblock %}