{% extends 'base/base_auth.html' %}
{% load placeholders %}
{% load add_class %}
{% load static %}

{% block page_content %}

    <div class="col py-3">
        <img src="{% static 'images/erp_sever_trans.png' %}" class="centerImage" alt="лого">
        <form class="form-horizontal" id="deleteNewModemForm" action="{% url 'delete modem' pk=modem_delete.pk %}"
              method="POST" enctype="multipart/form-data">
            <fieldset>

                <section class="vh-50">

                    <div class="container py-5 h-100">

                        <div class="row d-flex justify-content-center align-items-center h-100">

                            <div class="col-12 col-md-8 col-lg-7 col-xl-5">

                                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                                    <div class="card-body p-5 text-center">

                                        <h2>Delete modem</h2>

                                        {% for field in form %}
                                            {{ field|form_class|placeholder:field.label }}
                                        {% endfor %}

                                        <hr/>
                                        <input type="submit" id="btn-register" class="btn btn-danger btn-lg btn-block"
                                               value="Delete">
                                        {% csrf_token %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </fieldset>
        </form>
    </div>
{% endblock %}

