{% extends 'base/base_auth.html' %}
{% block page_content %}
{#<div class="row">#}
	<div class="col py-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="page-heading"> <i class="glyphicon glyphicon-edit"></i>Списък със задачи</div>
			</div> <!-- /panel-heading -->
			<div class="panel-body">

				<div class="remove-messages"></div>

				<div class="div-action pull pull-right" style="padding-bottom:20px;">
				</div>
				<br>
<table class="table" id="manageTaskTable">
					<thead>
						<tr>
						    <th>№ задача </th>
							<th>Име</th>
							<th>Номер на електромер</th>
							<th>Операция</th>
							<th>Резултат</th>
                            <th>Updated</th>
							<th style="margin: 0 auto;">Опции</th>

						</tr>
					</thead>
                {% for task in task_list %}
                <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.mp_name }}</td>
                <td>{{ task.meter_device }}</td>
                <td>{{ task.operation}}</td>
                <td>{{ task.result_operation }}</td>
                    <td>Updated by: {{ task.username }}, Date: {{ task.created_date }}</td>
                    <td>
                    <button type="button" class="btn btn-primary"><a href = {% url 'edit task' pk=task.id %}>test</a></button>
                    <button type="button" class="btn btn-warning"><a href = {% url 'delete task' pk=task.id %}>test</a></button>
                        <button type="button" class="btn btn-success"><a href = {% url 'details task' pk=task.id %}>test</a></button>
                    </td>
                </tr>
                {% endfor %}
				</table>
				<!-- /table -->


			</div> <!-- /panel-body -->
		</div> <!-- /panel -->

	</div> <!-- /col-md-12 -->

{% endblock %}




