{% extends 'base/base_auth.html' %}

{% block page_content %}
<div>
     <p>ID: {{ task_details.id }}</p>
    <p>Meter number: {{ task_details.meter_device }}</p>
    <p>Meter point name: {{ task_details.mp_name }}</p>
    <p>Constant: {{ task_details.constant }}</p>
    <p>Voltage: {{ task_details.voltage }}</p>
    <p>Regional center: {{ task_details.regional_center }}</p>
    <p>Username: {{ task_details.username }}</p>
    {% if task_details.comment %}
    <p>Comment: {{ task_details.comment }}</p>
    {% else %}
    <p>Comment: No data</p>
    {% endif %}
    <p>Operation: {{ task_details.operation }}</p>
    <p>Result operation: {{ task_details.result_operation }}</p>
    <p>Modem number: {{ task_details.modem }}</p>
</div>
{% endblock %}
